{% extends 'base.html' %}
{% load static %}

{% block title %}Payment{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid p-container">

            {% if paid %}
                <h1>Thank you for your payment</h1>
                <div class="spacer"></div>
                The total of {{ count_license_keys }} license keys for the following products will be sent to {{ request.user.email }} shortly.
                <br>You can download the scripts by clicking on the product name below.
                <br>
                {% for product in products %}
                    <p><a href="{{ product.script.url }}" download>{{ product.get_full_title }}</a></p>
                {% endfor %}
                <div class="spacer"></div>
                <a href="{% url 'home' %}">
                    <button class="btn" name="Pay">Back to Home</button>
                </a>
            {% elif shopping_cart_is_empty %}
                <h1>Payment</h1>
                Your shopping cart is empty. There is nothing to pay for.
                <div class="spacer"></div>
                <a href="{% url 'home' %}">
                    <button class="btn" name="Pay">Back to Home</button>
                </a>
            {% else %}
                <h1>Payment</h1>
                <p style="text-align: left; padding-top: 1rem"><b> Total amount: {{ total }} €</b></p>
                {% load crispy_forms_tags %}
                <form method="POST">
                    {% csrf_token %}
                    {{ payment_form|crispy }}
                    <button class="btn" type="submit" name="Pay">Pay</button>
                </form>
                <br>
                {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <a href="{% url 'product-list' %}">Keep shopping</a>
            {% endif %}
        </div>
    <div class="spacer"></div>
    </main>
{% endblock %}
