{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block title %}Shopping cart{% endblock %}

{% block content %}

    <main>
        <div class="container-fluid p-container">
        <div class="row"> </div>
        <h1>Shopping cart</h1>

        <br><br>
        {% if shopping_cart_is_empty %}
            Your shopping cart is empty.<br>
        {% else %}
            {% for item in shopping_cart_items %}
                <div style="border-bottom: 2px solid gray; padding-top: 2em">
                <img class="img-thumbnail, rounded float-start" src="{{ item.product.logo.url }} style="width: 10%; padding-right: 1em">
                    {{ item.product.get_full_title }}<br>
                    {{ item.product.short_description }}
                    <p style="text-align: right"> {{ item.product.price }} € x {{ item.quantity }}</p>

                </div>

            {% endfor %}

            <p style="text-align: right; padding-top: 1rem"><b> Total amount: {{ total }} €</b></p>

            <br><br>
            <form method="POST">
                {% csrf_token %}
                <button class="btn-outline-dark" type="submit"  name="empty">Empty the shopping cart</button>
                <button class="btn-dark" type="submit" name="pay">Pay with credit card</button>
            </form>
        {% endif %}

        <br>
        <a href="{% url 'product-list' %}">Keep shopping</a>


    </div>
    </main>
{% endblock %}