{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Products/products_style.css' %}">
{% endblock %}

{% block title %}Products list{% endblock %}
{% block content %}
    <h2>Products list</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ search_form.as_p }}
        <button type="submit">Search</button>
    </form>
    <ul>
        {% for product in all_the_products %}
            <a href="{{ product.id }}/"><img class="imgs" src="{{ product.image.url }}"></a>
            <br>
            <a href="{{ product.id }}/"><b>{{ product.get_full_title }}</b></a><br>
            {{ product.short_description }}
            {% if user.is_staff %}
                <br>
                <a href={% url 'product-edit' product.id %}>Edit product</a>
                <br>
            {% endif %}
            <br><br>
        {% endfor %}
    </ul>

    {% if user.is_staff %}
        <a href={% url 'product-create' %}>Add a new product</a><br>
    {% endif %}
{% endblock %}

