{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Products/products_style.css' %}">
{% endblock %}

{% block title %}Homepage zcrpts{% endblock %}

{% block content %}
    <main>
        <h1>Products</h1>
        <br><br>

        <div class="container-fluid">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <b>I'm looking for... </b> {{ search_form.search_term }}
                <br><br>
                <b>Minimum Rating: </b>{{ search_form.min_stars }}
                <br><br>
                <button type="submit" class="btn px-4">Search</button>
            </form>
        </div>

        <br><br>

        <p class="divider">// ---------------------------</p>
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1 class="title_h1">All products</h1>
                </div>
                <div class="col" style="text-align: right; font-size: .8em">
                    {% if user.is_staff %}
                        <a href={% url 'product-create' %}>Add a new product</a><br>
                    {% endif %}
                </div>
            </div>
        </div>
{#        <h1>All products</h1>#}
{##}
{##}
{#        <div class="container-fluid" style="text-align: right">#}
{#            {% if user.is_staff %}#}
{#            <a href={% url 'product-create' %}>Add a new product</a><br>#}
{#        {% endif %}#}
{#        </div>#}

        <div class="container-fluid mx-auto my-4">
            <div class="row row-product mx-auto">
                {% for product in all_the_products %}
                    <div class="col col-sm-4 col-xl-3">
                        <a href="{% url 'product-detail' product.id %}">
                            <div class="card product-card mx-auto">

                                <img class="card-img-top imgs" src="{{ product.logo.url }}">
                                <h1>{{ product.title }}</h1>
                                <div class="card-body card-body-custom">
                                    <a href="{% url 'product-detail' product.id %}">
                                        <b>{{ product.get_full_title }}</b><br>
                                        <p class="card_p_descr">{{ product.short_description }}</p></a>
                                </div>
                                {% if user.is_staff %}
                                    <div class="card-footer" style="background: none">
                                        <a style="font-size: .8em" href={% url 'product-edit' product.id %}>Edit
                                            product</a>
                                    </div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

