{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'Products/products_style.css' %}">
{% endblock %}

{% block title %}Add product{% endblock %}

{% block logged_in_content %}
<h2>Add product</h2>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- {{ form.as_table }} -->
        <!-- {{ form.as_p }}-->
        <b>{{ form.title.label }}:</b> {{ form.title }}
        <br><br>
        <b>{{ form.version.label }}:</b> {{ form.version }}
        <br><br>
        <b>{{ form.short_description.label }}</b>: {{ form.short_description }}
        <br><br>
        <b>{{ form.long_description.label }}:</b><p> {{ form.long_description }}
        <br><br>
        <b>{{ form.price.label }}:</b> {{ form.price }}
        <br><br>
        <div>
        <label><b>Upload pdf</b></label><br>
            <input name="pdf" type="file" name="pdf">
        </div>
        <br><br>
        <label><b>Upload images</b></label><br>
            <input name="image" type="file" multiple>
        </div>
        <br>
        <button type="submit">Add product</button>
    </form>
{% endblock %}

<!-- TODO need this? -->
{% block not_logged_in_content %}
    <p>You must log in as staff to add products</p>
    <a href="{% url 'login' %}">Login</a>
{% endblock %}