{% extends 'base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'Products/products_style.css' %}">
    <link rel="stylesheet" type="text/css"
          href="{% static 'Products/product_detail.css' %}">
{% endblock %}

{% block title %}Product Detail{% endblock %}

{% block content %}
    <main>
        <div class="row">
            <div id="logopos" class="col-4" style="text-align: left">
                <figure style="text-align: center">
                    <img id="productLogo" src="{{ product.logo.url }}">
                    <figcaption style="margin: 10px">{{ product.title }}</figcaption>
                </figure>
            </div>
            <div class="col-8 px-4 my-auto">
                <p>{{ product.short_description }}</p>
            </div>

        </div>

        <div class="spacer"></div>
        <div class="divider">// ---------------------------</div>
        <div class="spacer"></div>
        <h1>What is it good for?</h1>
        <div class="spacer"></div>

        <div class="row">
            <div class="col-6 px-4">
                <p>{{ product.long_description }}</p>
            </div>
            <div class="col-6 px-4">
                <img id="screenshot" src="{{ product.screenshot.url }}">
            </div>
        </div>

        <div class="spacer"></div>
        <div class="divider">// ---------------------------</div>
        <div class="spacer"></div>
        <h1>Tech Notes</h1>
        <div class="spacer"></div>

        <div class="container-fluid tech-container">
            <div class="container-fluid inner-tech-container p-2">
                <div class="row">
                    <div class="row align-items-end">
                        <div class="col" style="border-bottom: 1px solid black">
                            <b>Version</b>
                        </div>
                        <div class="col" style="border-bottom: 1px solid black">
                            {{ product.version }}
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col" style="border-bottom: 1px solid black">
                            <b>Operating System</b>
                        </div>
                        <div class="col" style="border-bottom: 1px solid black">
                            {{ product.operating_system }}
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col" style="border-bottom: 1px solid black">
                            <b>Language</b>
                        </div>
                        <div class="col" style="border-bottom: 1px solid black">
                            {{ product.language }}
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col" style="border-bottom: 1px solid black">
                            <b>Price</b>
                        </div>
                        <div class="col" style="border-bottom: 1px solid black">
                            {{ product.price }} €
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col" style="border-bottom: 1px solid black">
                            <b>Tested with</b>
                        </div>
                        <div class="col" style="border-bottom: 1px solid black;">
                            {{ product.tested_with }}
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col" style="border-bottom: 1px solid black">
                            <b>Instruction PDF</b>
                        </div>
                        <div class="col" style="border-bottom: 1px solid black">
                            <a href="{{ product.pdf.url }}" download>Download here</a>
                        </div>
                    </div>
                    <div class="row align-items-end">
                        <div class="col" style="border-bottom: 1px solid black">
                            <b>Average Rating</b>
                        </div>
                        <div class="col" style="border-bottom: 1px solid black">
                            {{ product.get_average_rating }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="spacer"></div>

        <div class="container-fluid">
            <div class="btn-group flex-wrap">
                <a class="marg" href="{% url 'product-list' %}">
                    <button type="button" class="btn px-4">Back</button>
                </a>
                <a href="{{ product.script.url }}" download>
                    <button class="btn ms-3">Download Trial</button>
                </a>

                {% if user.is_authenticated %}
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn ms-3 px-4 mediaButton" name="addToCart">Add to shopping cart</button>
                    </form>
                {% else %}
                    <div class="login-to-cart">
                        <a style="background: red; vertical-align: baseline; margin-left: 10px" href="{% url 'login' %}">Login to add to shopping cart </a>
                    </div>
                {% endif %}
            </div>
            <div class="spacer"></div>
        </div>

        <div class="spacer"></div>
        <div class="divider">// ---------------------------</div>
        <div class="spacer"></div>
        <h1>Reviews</h1>
        <div class="spacer"></div>

        <div class="container-fluid">
            {% for comment in comments %}
                <div class="card my-2" style="width: 100%;">
                    <div class="card-body p-2">
                        <div class="row">
                            <div class="col" style="margin: 0; padding: 0">
                                <h5 class="card-title">{{ comment.title }}</h5>
                            </div>
                            <div class="col" style="text-align: right; font-size: .8em">
                                {% if comment.myuser.id != logged_in_user.id %}
                                    <a href="{% url 'comment-flag' product.id comment.id %}">
                                        report this review
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <h6 class="card-subtitle mb-2 text-muted">{{ comment.myuser.username }}
                            on {{ comment.timestamp }}</h6>
                        <p class="card-text">{{ comment.text }}</p>
                        {% if comment.myuser.id != logged_in_user.id %}
                            {#                            <a href="{% url 'comment-flag' product.id comment.id %}">#}
                            {#                                flag#}
                            {#                            </a>#}
                            {#                            <br>#}

                            Helpful?
                            <a href="{% url 'comment-vote' product.id comment.id 'up' %}">
                                Yes ({{ comment.get_upvotes_count }})
                            </a> /
                            <span style="...">{{ down_votes }}</span>
                            <a href="{% url 'comment-vote' product.id comment.id 'down' %}">
                                No ({{ comment.get_downvotes_count }})
                            </a>
                        {% else %}
                            <button class="btn dropdown-toggle px-4" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false">Edit Review
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a href="{% url 'comment-edit' product.id comment.id %}">Edit</a></li>
                                <li><a href="{% url 'comment-delete' product.id comment.id %}">Delete</a></li>
                            </ul>
                        {% endif %}
                    </div>
                </div>

            {% endfor %}
        </div>



        {% if logged_in_user.is_authenticated %}
            <div class="spacer"></div>
            <div class="divider">// ---------------------------</div>
            <div class="spacer"></div>
            {% if product.myuser_id != logged_in_user.id %}
                <div>
                    <h1>Write a Review</h1>
                    {% load crispy_forms_tags %}
                    <form method="POST" action="{% url 'product-detail' product.id %}">
                        {% csrf_token %}
                        {{ comment_form|crispy }}

{#                        {{ comment_form.as_p }}#}
                        <button class="btn" type="submit" name="addComment">Add Review</button>
                        {% if comment_form.errors %}
                            <div>{{ comment_form.errors }}</div>
                        {% endif %}
                    </form>
                    {% if messages %}
                        <ul class="messages">
                            {% for message in messages %}
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endif %}
            <div class="spacer"></div>
        {% endif %}
    </main>
{% endblock %}
