{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid p-container">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <button class="btn btn-dark" type="submit" name="Pay">Save</button>
            </form>
        </div>
    <div class="spacer"></div>
    </main>

{% endblock %}