{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block title %}User Profile{% endblock %}

{% block content %}
<main>
   <div class="container-fluid p-container" style="margin-bottom: 50px;">
    <h2> Change your details:</h2>
        <p></p>
     {% load crispy_forms_tags %}
   <form method="post">
        {% csrf_token %}
       {{ form|crispy }}
       <br>
        <p><a href="{% url 'change-password' %}">click here to change password</a></p>



       <button type="submit" value="Submit" class="btn btn-dark">submit</button>
   </form>

 </div>

</main>








{% endblock %}