{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css"
          href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block title %}Edit User Profile{% endblock %}

{% block content %}
    <main>
        <div class="container-fluid p-container" style="margin-bottom: 50px;">
            <h1> Change your details:</h1>
            <div class="spacer"></div>
            {% load crispy_forms_tags %}
               <form method="post" enctype="multipart/form-data" style="padding: 12px">
                {% csrf_token %}
                {{ form|crispy }}
                <br>
                <p><a href="{% url 'change-password' %}">Click here to change
                    your password</a></p>

                <button type="submit" value="Submit" class="btn">
                    Submit
                </button>
                <a href="{% url 'myuser-detail' request.user.id %}" class="btn">
                    Cancel
                </a>
            </form>

        </div>
    <div class="spacer"></div>
    </main>
{% endblock %}