{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block title %}User Profile{% endblock %}

{% block content %}

    <div class="container-fluid p-container">
        <h2>Your profile Details</h2>
        <div id="topText" class="row">
            <div class="col ttxt">
                <table class="table">
                    <tbody>
                    <tr>
                        <th scope="row"><b>Username:</b></th>
                        <td>{{ current_user.username }}<br></td>
                    </tr>
                    <tr>
                        <th scope="row"><b>First Name:</b></th>
                        <td>{{ current_user.first_name }}<br></td>
                    </tr>
                    <tr>
                        <th scope="row"><b>Last Name:</b></th>
                        <td>{{ current_user.last_name }}<br></td>
                    </tr>
                    <tr>
                        <th scope="row"><b>Email:</b></th>
                        <td>{{ current_user.email }}<br></td>
                    </tr>
                    </tbody>

                </table>
                <button class="btn btn-outline-primary">
                    <a href="{% url 'change-user-detail' current_user.id %}">change details</a>
                </button>

            </div>
        </div>

    </div>





    <br>




{% endblock %}