{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}
{% block title %}User Profile{% endblock %}

{% block content %}
    <h2>Your profile Details</h2>

    <table>
        <tr>
            <td><b>Username:</b></td>
            <td>{{ current_user.username }}<br></td>
        </tr>
        <tr>
            <td><b>First Name:</b></td>
            <td>{{ current_user.first_name }}<br></td>
        </tr>
        <tr>
            <td><b>Last Name:</b></td>
            <td>{{ current_user.last_name }}<br></td>
        </tr>
         <tr>
            <td><b>email:</b></td>
            <td>{{ current_user.email }}<br></td>
        </tr>
    </table>

     <p><a href="{% url 'change-user-detail' current_user.id %}">change details</a></p>

    <br>




{% endblock %}