body {
    font-size: 20px;
    color: darkblue;

}

img {
    width: 150px;
    height: 150px;
}

li{
    list-style: none;
}

.div_comment{
    border: 2px solid cadetblue;
    margin: 5px;
    padding: 2px;
    width: 50%
}

.div_comment--commentbox{
    background: azure;
    padding: 5px 5px;
}

#detaillist{
    width: max-content;
}

#detailpic{
    padding: 1%;
    width: 100%;
    height: 100%;
    border: 3px solid black;
    margin: 2%;
}

.marg{
    margin: 2%;
}
