{% extends "base.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block title %}Homepage zcrpts{% endblock %}

{% block content %}
    <!--PARAGRAPH CONTAINER-->
    <main>
        <!--PARAGRAPH CONTAINER-->

        <div class="container-fluid p-container">
          <div class="row">
            <div class="col-sm-6 col-p">
              <p>
                  If you have to deal with heavy Indesign-Documents,
                  this site is for you. Find scripts written for
                  Adobe InDesign that help you create truely complex
                  grep-patterns, refine large text-amounts by find
                  and change on batch, manage huge paragraphStylesand
                  characterStyles-lists, optimize InDesign’s
                  TOC-generated bookmarks, rearrange your pagelayout
              </p>
            </div>
            <div class="col-sm-6 col-p">
              <p>over many pages on one click; or just dive deeper
                into typography
                by controlling characters by their
                visible height instead of pointsize. These scripts
                are packed with 15-years experience in bringing
                global players’ financial reports to life. A discipline
                where besides the look it is primarily
                speed and accurracy that count.
              </p>
            </div>
          </div>
        </div>
{#        <p class="divider">// ---------------------------</p>#}
        <br>
        <!--HERO IMAGE-->

        <img class="img-hero" id="graph-indesign-scripts" src="{% static 'css/material/graph_indesign_scripts.jpg' %}" alt="indesign">
        <br><br>

        <!--FEATURED PRODUCTS-->
        <div class="spacer"></div>
        <p class="divider">// ---------------------------</p>

        <h1>Featured products</h1>
        <div class="spacer"></div>

        <!--FEATURED--->

        <div class="container-fluid mx-auto">
            <div class="row row-product mx-auto">
                {% for product in request.user.get_featured_products %}
                    <div class="col col-xl-4 col-sm-6 col-xs-6">
                        <div class="card product-card mx-auto">
                            <a href="{% url 'product-detail' product.id %}">
                                <img class="card-img-top imgs" src="{{ product.logo.url }}">
                            <h1>{{ product.title }}</h1>
                            <div class="card-body" style="min-height: 180px;">
                                <a href="{% url 'product-detail' product.id %}">
                                    <b>{{ product.get_full_title }}</b><br>
                                    <p class="card_p_descr">{{ product.short_description }}</p></a>
                            </div>
                            {% if user.is_staff %}
                                <div class="card-footer" style="background: none">
                                    <a style="font-size: .8em;" href={% url 'product-edit' product.id %}>Edit product</a>
                                </div>
                            {% endif %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

            <div class="spacer"></div>
            <p class="divider">// ---------------------------</p>
            <div class="spacer"></div>
{#            <h1 class="title">Is there more of this scripting stuff ?</h1>#}
            <div class="spacer"></div>

        </div>
    </main>


{% endblock %}

{% block footer %}
{% endblock %}

