{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home_style.css' %}">
{% endblock %}

{% block title %}zcrpts Sign Up{% endblock %}

{% block content %}
    <main>
        <h1>Sign up</h1>
        {% load crispy_forms_tags %}
        <form method="post" enctype="multipart/form-data" style=""padding: 12px>
            {% csrf_token %}
            {{ form|crispy }}
            <button class="btn px-4" type="submit">Sign up</button>
        </form>
    </main>
{% endblock %}